*{
    margin: 0;
    border: 0;
    padding: 0;
}
.box{
    height: 400px;
    width: 400px;
    border: 5px solid black;
}
.item1{
    height: 150px;
    width: 150px;
    background-color: red;
    /* position: relative; */
    /* top: 30px;
    left: 30px; */
    z-index: -1;
    position: absolute
    ;
}
.item2{
    height: 150px;
    width: 150px;
    background-color: blue;
    position: sticky;
    top: 0;
}
body{
    height: 50000000000000px;
}